.container-contact{
    display: flex;
    padding:0rem 3.04762rem;
    flex-direction: column;
    align-items: center;
    gap: 1.52381rem;
    align-self: stretch;
}

.container-input-fields{
    display: flex;
    align-items: flex-start;
    gap: 0.7619rem;
    align-self: stretch;
}
.column{
    flex-direction: column;
}

@media (max-width:1260px){
    .container-input-fields{
        flex-direction: column;
    }
}