.input-form-l{
    display: flex;
    padding: 0.7619rem;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px solid var(--black50);
    border-left: 2px solid transparent;
    border-top:2px solid transparent;
    border-right:2px solid transparent;
    background: var(--black10);
    outline: none;
    flex: 1 0 0;
    align-self: stretch;
    transition: border 0.3s ease;
}

.size-b-l{
    height: 284px;
}

.input-form-l:hover{
    border: 2px solid var(--black50);
    background: var(--black5);
}

.state-error{
    border: 2px solid var(--error);
}
.expand{
    display: flex;
    align-self: stretch;
}
#input-data{
    width:100%;
}