.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    width:100%;
    top:0;
    background:var(--white);
}

.group-logo{
    display: flex;
    padding: 16px 64px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.nav-logo{
    width: 18rem;
    height: 1.3rem;
    background: url("/static/Bilder/Laptop/Logo.png");  
    background-repeat:no-repeat;
    background-size:contain;
}

.group-links-CTA{
    display: flex;
    align-items: center;
    gap: 96px;
}

.group-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.group-links.responsive{
    display:flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    gap: 0.7619rem; 
    padding: 0.7619rem 1.52381rem;
    position:absolute;
    top:97.3px;
    right:0;
    background:var(--white);
}

.link-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.link-active{
    color:var(--primary);
    border-bottom: 2px solid var(--primary);
}

.link-active:hover{
    color:var(--primary);
}

.line{
    align-self: stretch;
    height: 0px;
    border: 1px var(--black) solid;
}

#menu-icon{
    display:none;
}

@media (max-width:1260px){
    .group-logo{
        padding:0.7619rem 1.52381rem;
    }
    .nav-logo{
        width: 10.57143rem;
        height: 0.95238rem; 
    }
    .group-links-CTA{
        gap:3.04762rem;
    }
    .group-links{
        gap: 0.7619rem; 
    }
}

@media (max-width:900px){
    .nav-logo{
        background:url("/static/Bilder/Mobile/Logo-Mobile.png");
        width: 2.03176rem;
        height: 3.04762rem;
        background-size:cover;
        background-repeat: no-repeat;
    }
    .group-links{
        display:none;
    }
    #menu-icon{
        display: block;
    }
}