{% extends "./part_templates/base.html" %} {% block title %}Reset Password{% endblock %} 

{% block content %} 

<form action="{{url_for('auth.password_reset')}}" method="POST">
    <div class="container mt-5">
        <div class="mb-3 mt-3">
            <h2 class="text-center">Passwort Zurücksetzen</h2>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            <label for="email">Email Addresse</label>
        </div>
        <p>Bitte geben Sie hier Ihre Email Addresse ein, wir senden Ihnen daraufhin eine Email mit Bestätigungslink.</p>
        <div class="mb-3 mt-3">
            <button type="submit" class="btn btn-warning">Bestätigen</button>
        </div>   
    </div>
</form>
{% endblock %}