{% extends "./part_templates/base.html" %}{% block title %}Registrieren{% endblock %}

{% block content %}
<div class="container">
<form method = "POST">
    <h3 align="center">Registrieren</h3>
    <h6 align="center">Bereits Registriert? <a href="/login">Anmelden</a></h6>
    <h6 align="center"><a href="/forgot_password">Passwort vergessen?</a></h6>
    <div class="form-group">
        <label for="email">Email Adresse</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email Eingeben">
    </div>
    <br>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Vor- und Nachname Eingeben">
    </div>
    <br>
    <div class="form-group">
        <label for="telNumber">Telefon</label>
        <input type="tel" class="form-control" id="telNumber" name="telNumber" placeholder="z.B. 011 49 89 1234567">
    </div>
    <br>
    <div class="form-group">
        <label for="alter">Alter</label>
        <input type="number" class="form-control" id="alter" name="alter" min="18" max="99" placeholder="Alter Eingeben">
    </div>
    <br>
    <div class="form-group">
        <label for="passwort1">Passwort</label>
        <input type="password" class="form-control" id="passwort1" name="passwort1" placeholder="Passwort Eingeben">
    </div>
    <br>
    <div class="form-group">
        <label for="passwort2">Passwort (Bestätigen)</label>
        <input type="password" class="form-control" id="passwort2" name="passwort2" placeholder="Passwort Bestätigen">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Registrieren</button>
    <br>
</form>
</div>
{% endblock %}