{% extends "./part_templates/base.html" %}{% block title %}Registrieren{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <h1 class="text-center" >Registrieren</h1>
    <h6 class="text-center" >Bereits Registriert? <a href="{{url_for('auth.login')}}">Anmelden</a></h6>
    <h6 class="text-center" ><a href="{{url_for('auth.password_reset')}}">Passwort vergessen?</a></h6>
    <form class="row g-3 mt-3 mb-3" action="{{url_for('auth.sign_up')}}", method="POST">
        <div class="col-12 form-floating">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            <label for="email">Email</label>
        </div>  
        <div class="col-md-6 form-floating">
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Passwort">
            <label for="password1">Passwort</label>
        </div>
        <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="rememberMe" name="rememberMe">
              <label class="form-check-label" for="rememberMe">
                Angemeldet bleiben
              </label>
            </div>
        </div>        
    </form>
    <button type="submit" aria-label="registration button" class="btn btn-primary">Registrieren</button>
</div>
{% endblock %}