.b-img-about-us{
    object-fit: contain;
    flex: 1 0 0;
    border-radius: 0.7619rem;
}

.border-left-corner-1{
    border-radius: 0rem 0rem 0rem 0.7619rem;
}
.border-right-corner-1{
    border-radius: 0rem 0rem 0.7619rem 0rem;
}

.b-2-imgs{
    height: 20.2381rem;
    min-width: 22.85714rem;
    flex: 1 0 0;
}
.size-text-img-container{
    height: 31.52381rem;
    min-width: 22.85714rem;
}

.br-0011{
    border-radius: 0rem 0rem 0.7619rem 0.7619rem;
}

.container-laptop{
    display:flex;
}

@media (max-width:1260px){
    .container-laptop{
        display:none !important;
    }
}
@media(max-width:600px){
    .b-img-about-us{
        min-width: 10rem;
    }
}