.h-10{
    height:7.61905rem;
}

.b-img-about-us{
    height: 26.47619rem;
    min-width: 25.71429rem;
    max-width: 30.47619rem;
    flex: 1 0 0;
    border-radius: 0.7619rem;
    background: url("/static/Bilder/Laptop/About/Gründer.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

.max-50{
    max-width: 38.09524rem;
}

.border-left-corner-1{
    border-radius: 0rem 0rem 0rem 0.7619rem;
}
.border-right-corner-1{
    border-radius: 0rem 0rem 0.7619rem 0rem;
}

.b-2-imgs{
    height: 20.2381rem;
    min-width: 22.85714rem;
    flex: 1 0 0;
}

.b-img-cnc{
    background:url("/static/Bilder/Laptop/About/CNC.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

.b-img-werkstatt{
    background:url("/static/Bilder/Laptop/About/Werkstatt.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

.pad-2-8{
    padding: 1.52381rem 6.09524rem; 
}
.gap-4-8{
    gap:3.04762rem 6.09524rem;
}

.size-text-img-container{
    height: 31.52381rem;
    min-width: 22.85714rem;
}

.br-0011{
    border-radius: 0rem 0rem 0.7619rem 0.7619rem;
}
.b-img-guitars-cross{
    background: url("/static/Bilder/Laptop/About/Gitarren-Kreuz.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.b-img-3D-Model{
    background: url("/static/Bilder/Laptop/About/3D-Model.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}