/* Home page */
.guitar-background{
    background: url("/static/Bilder/Laptop/Home/Gitarre-Jakob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* About Us page */
.b-img-cnc{
    background:url("/static/Bilder/Laptop/About/CNC.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

.b-img-werkstatt{
    background:url("/static/Bilder/Laptop/About/Werkstatt.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}


/* Nachhaltigkeit page */
.b-img-wood{
    background:url("/static/Bilder/Laptop/Nachhaltigkeit/wald.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}
.b-img-wood2{
    background:url("/static/Bilder/Laptop/Nachhaltigkeit/wald2.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.b-img-nature{
    background:url("/static/Bilder/Laptop/Nachhaltigkeit/Natur.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

@media(max-width:900px){
    .guitar-background{
        background:url("/static/Bilder/Laptop/Home/Gitarren-Vertikal.jpg");
        background-size:cover;
        background-repeat:no-repeat;
    }
    
}

@media (max-width:500px){
    .b-img-cnc{
        background:url("/static/Bilder/Mobile/About/CNC.jpg");
        background-size:cover;
        background-repeat:no-repeat;
    }
}