.container{
    display:flex;
}
.container .guitar-body{
    flex: 1 1 33%;
}
.guitar-body label img{
    width:90%;
    height: 90%;
    cursor: pointer;
}
.guitar-body label{
    position:relative;
    top:-100%;
    left:5%;
}
.guitar-body input{
    -webkit-appearance: none;
    appearance: none;
    width:100%;
    height: 100%;
    cursor: pointer;
}
.guitar-body input[type="radio"]:checked{
    border:4px solid #2196F3;
}
.centered{
    display:block;
    margin:0 auto;
}
h2{
    text-align:center;
    padding:5px;
}
