.footer{
    background-color:#f5f5f7;
    padding:1em;
}
.link-normal{
    text-decoration: none;
    color:black;
    background-color: white;
}
.link-normal:hover{
    color:white;
    background-color: black;
}
.ul-dots-invisible{
    list-style-type: none;
}