.page-container-l{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.09524rem; 
    align-self: stretch;
}

.flex-col-align-start-stretch{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.black-overlay{
    background: var(--black25);  
}

.hero-title{
    max-width: 58.09524rem;
    padding: 3.04762rem 0rem 1.52381rem 3.04762rem; 
    gap: 1.52381rem;
}

.flex-center-all{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.about-text{
    flex: 1 0 0;
    min-width: 19.04762rem;
}

.container-standing{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container-tablet{
    display: none !important;
}

.founder-img{
    aspect-ratio: auto;
    object-fit: contain;
    object-position:center;
    overflow: hidden;
    width:100%;
    flex: 1 0;
    border-radius: 0.7619rem;
    max-height:20rem;
}

.service-section{ 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 3.04762rem 6.09524rem;
    align-self: stretch;
    flex-wrap: wrap;
}

.text-box-with-img-vertical{
    max-width: 22.09523rem;
    padding: 0.7619rem 1.52381rem;
    justify-content: center;
    gap: 1.52381rem;
}
.text-box-vertical-border{
    border-radius: 0.7619rem 0.7619rem 0rem 0rem;
    border-top: 3px solid var(--primary);
    border-right: 3px solid var(--primary);
    border-left: 3px solid var(--primary);
}

.img-box-vertical{
    width: 22.09524rem;
    height: 31.28571rem;
    border-radius: 0rem 0rem 0.7619rem 0.7619rem;
}

.service-g3{
    min-width: 32.38095rem;
    flex: 1 0 0;
}

.text-box-with-img-horizontal{
    display: flex;
    min-width: 32.38095rem;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}
.img-box-horizontal{
    max-width: 9.33333rem;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0.7619rem 0rem 0rem 0.7619rem; 
}
.text-box-horizontal{
    display: flex;
    padding: 0.7619rem 1.52381rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.52381rem;
    flex: 1 0 0;
    align-self: stretch;
}

.flex-100{
    flex: 1 0 0;
}

.box-icon-text-l{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.52381rem;
    flex: 1 0 0;
}

.icon-l{
    width: 6.09524rem;
    height: 6.09524rem;
}
.gap-icon-container{
    gap:9.19048rem;
}

.text-box-left-l{
    border-radius: 0.7619rem 0rem 0rem 0.7619rem;
    border-top: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
    border-left: 3px solid var(--primary);
}
.img-right-l{
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0rem 0.7619rem 0.7619rem 0rem;
}

.text-box-right-l{
    border-radius: 0rem 0.7619rem 0.7619rem 0rem;
    border-top: 3px solid var(--primary);
    border-right: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
}
.img-left-l{
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0.7619rem 0rem 0rem 0.7619rem;
}
.container-customer-projects{
    max-width: 63.2381rem;
    width:100%
}

.testimonial{
    display: flex;
    width: 24rem;
    padding: 0.7619rem 1.52381rem;
    flex-direction: column;
    align-items: center;
    gap: 1.52381rem;
    border-radius: 0.7619rem;
    background: var(--black10);
}
.border-1{
    border-radius:0.7619rem;
}

.testimonial-text{
    display: flex;
    padding: 0.7619rem 1.52381rem;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.errorpage{
    text-align:center;
    font-size:xx-large;
    margin-top:15%;
}

@media (max-width:1260px) {
    .hero-title{
        max-width: 41.90476rem;
        padding: 6.09524rem 0rem 1.52381rem 3.04762rem; 
    }
    .page-container-l{
        gap: 6.09524rem; 
    }
    .container-standing{
        display: none;
    }
    .container-tablet{
        display: flex !important;
    }
    #benefits-box-home{
        gap:1.52381rem;
    }
    .box-icon-text-l{
        min-width: 8.09524rem;
    }
    .icon-l{
        width: 3.04762rem;
        height: 3.04762rem;
    }
    .gap-icon-container{
        gap: 3.04762rem 6.09524rem; 
    }
    .container-customer-projects{
        max-width: 41.90476rem;
    }
}

@media (max-width:900px){
    .page-container-l{
        gap:3rem;
    }
    .about-text{
        min-width:10rem;
    }
    .founder-img{
        min-width:8.5rem;
        width:100%;
        margin-top:40px;
    }
    #about-container{
        flex-direction:column;
    }
    .hero-title{
        padding: 0.761905rem 0rem 0.3809525rem 0.761905rem; 
    }
    .service-g3{
        min-width: 280px;
    }
    .text-box-with-img-horizontal{
        min-width:0;
        max-width: 13.7142rem;
        width:100%;
        flex-direction: column-reverse;
        align-self:center;
    }
    .text-box-right-l{
        border-bottom: 3px transparent;
        border-left:3px solid var(--primary);
        border-radius:0.761905rem 0.761905rem 0rem 0rem;
    }
    .img-box-horizontal{
        border-radius: 0rem 0rem 0.7619rem 0.7619rem;
        max-width: 13.7142rem;
    }


    .img-text-container{
        max-width: 13.7142rem;
    }
    .text-box-left-l{
        border-radius: 0.7619rem 0.7619rem 0rem 0rem;
        border-right: 3px solid var(--primary);
        border-bottom: 3px transparent;
        
    }
    .img-right-l{
        border-radius: 0rem 0rem 0.7619rem 0.7619rem;
        max-width: 13.7142rem;
    }
    .img-left-l{
        border-radius: 0rem 0rem 0.7619rem 0.7619rem;
        max-width: 13.7142rem;
    }
    .img-text-container-left{
        flex-direction:column;
        max-width: 13.7142rem;
    }
    .img-text-container-right{
        flex-direction:column-reverse;
        max-width: 13.7142rem;
    }
    .container-customer-projects{
        width:auto;
    }
    .testimonial-text{
        padding:0;
    }
}

@media (max-width:500px){
    .text-box-with-img-vertical{
        width:100%;
    }
    .img-box-vertical{
        width:100%;
        object-fit: cover;
    }
}
