body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color:white;
}
@font-face {
    font-family: "Quicksand";
    src: url("/static/fonts/Quicksand.ttf");
    font-family: "Logo";
    src: url("/static/fonts/Logo.ttf");
}
.navbarr {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.navbar-logo-a {
    font-family: Logo;
    text-decoration: none;
    color: #f0f0f0;
    font-size :40px;
    margin-left: 20px;
}
.navbar-logo-a:hover{
    color:#f0f0f0 ;
}

.navbar-logo-img {
    height: 30px;
    margin-left: 20px;
}

.navbar-nav-div {
    display: flex;
    align-items: center;
    transform: translate(0px, 0px);
}

.navbar-nav-text-a {
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
    color: white;
    margin: 8px;
    padding: 7.5px 12px;
    border-radius: 8px;
}


.navbar-nav-searchcart-a {
    color: white;
    margin: 8px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}
.navbar-nav-searchcart-i{
    font-size :17px;
}
.navbar-social-div {
    margin-right: 20px;
    display: flex;
    align-items: center;
    transform: translate(0px, 0px);
}


.navbar-social-icon-a {
    color: white;
    margin: 16.5px;
    padding: 12px;
    border-radius: 8px;
}
.navbar-social-icon-i{
    font-size :17px;
}

.navbar-nav-text-div :hover, .navbar-nav-searchcart-div :hover, .navbar-social-icon-div :hover {
    background-color: white;
    color: black;
    transition: background-color ease-in-out .1s, color ease-in-out .1s;
}

.search-overlay {
    display :none;
    transform:translate(0px, -100%);
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: black;
    padding-bottom: 20px;
    transition: all ease-in-out .2s;
}

.navbar-overlay-search-input {
    width: 50%;
    margin: 0px;
    padding: 5px 5px 5px 10px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color:black;
    color:white ;
}
.navbar-overlay-search-a {
    margin: 0px;
    color: white;
    background-color: black;
    display: flex;
    padding: 4px;
    cursor:pointer;
}
.navbar-overlay-search-a:hover {
        opacity: .9;
        color :white ;
}
.navbar-overlay-search-i{
    font-size :20px;
}
.navbar-overlay-search-x-a {
    display :flex ;
    align-items :center ;
    color: white;
    margin: 0px 10px 0px 1%;
}
.navbar-overlay-search-x-a:hover {
    cursor: pointer;
    opacity: .8;
    color :white ;
}
.navbar-overlay-search-x-i {
    font-size: 30px;
}
.navbar-burgermenu-button {
    display: none;
    order: 1;
    margin-right: 30px;
    padding: 0px;
    cursor: pointer;
    background: none;
    border: none;
    align-items :center ;
}

.navbar-burgermenu-icon-open {
    font-size: 34px;
    color: white;
    display :flex;
}
.navbar-burgermenu-icon-close {
    font-size: 38px;
    color: white;
    display :none;
}

@media (max-width:1000px) {
    .navbar-burgermenu-button {
        display: flex;
    }

    .navbarr {
        flex-direction: column;
        text-align: center;
    }

    .navbar-logo_burgermenu-div {
        height: inherit;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-nav-div{
        min-height : 357px;
    }
    .navbar-social-div{
        min-height :217px;
    }

    .navbar-burgermenu-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: black;
        transform: translate(-100%, 0px);
        margin: 0;
        overflow-y: auto;
    }

    .navbar-social-div {
        padding-bottom: 25px;
    }

    .navbar-nav-div {
        padding-top: 7px;
    }

    .navbar-nav-text-div, .navbar-nav-searchcart-div, .navbar-social-icon-div, .navbar-logo-div, .navbar-burgermenu-label {
        padding: 20px 0px 20px 0px;
    }

    .navbar-nav-text-a, .navbar-nav-search-a, .navbar-nav-cart-a, .navbar-social-icon-a {
        color: white;
    }
}

.errorpage{
    text-align:center;
    font-size:xx-large;
    margin-top:15%;
}