body{
    margin:0;
    padding:0;
    background-color:white;
    
}
@font-face {
    font-family: "Quicksand";
    src: url("/static/fonts/Quicksand.ttf");
}
nav{
    box-sizing:border-box;
    background-color: black;
    height: 70px;
    position:sticky;
    top:0;
    z-index: 1;
}
ul{
    text-align: center;
    margin: 0;
}
ul li{
    display: inline-block;
    padding: 5px;
    list-style-type: none;
}
a.logo{
    padding:0px;
    position: absolute;
    top:25px;
    left:20px;
    z-index: 2;
}

ul li a.text {
    font-family:'Quicksand';
    font-weight:900;
    padding: 15px;
    margin:5px;
    display: inline-table;
    color:white;
    font-size: large;
    text-decoration:none;
    border-radius:10px;
}
ul li a#searchbtn{
    cursor:pointer;
}
ul li a#cart{
    position:relative;
    top:-3px;
} 
ul li a.text:hover{
    background-color: white;
    color: black;
}
ul footer{
    position: relative;
    top:-2px;
    margin-right:40px;
    float: right;
}
.overlay{
    width:100%;
    height:10%;
    display:none;
    position:fixed;
    z-index:2;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.9);
}
.overlay-content{
    position:relative;
    top:10%;
    width:80%;
    text-align:center;
    margin:auto;
}
.overlay .closebtn{
    float:right;
    position: relative;
    top:-12px;
    font-size:50px;
    cursor:pointer;
    color:white;
}
.overlay .closebtn:hover{
    color:#ccc;
}
.overlay input[type = text]{
    padding:15px;
    font-size:17px;
    border:none;
    float:left;
    background-color:white;
    width:80%;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
}
.overlay input[type = text]:hover{
    background-color:#f1f1f1;
}
textarea:focus, .overlay input[type = text]:focus{      /*-----------------------remove blue input */
    outline:none;
}
.overlay button{
    float:left;
    width:10%;
    padding:15px;
    background-color:#ddd;
    font-size:17px;
    border:none;
    cursor:pointer;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
.overlay button:hover{
    background-color:#bbb;
}
nav .checkbtn{
    font-size:30px;
    color:white;
    float:right;
    margin-right:40px;
    line-height: 70px;
    cursor:pointer;
    display:none;
}
#check{
    display:none;
}

@media (max-width:1000px){
    nav .checkbtn{
        display:block;
    }
    ul{
        overflow-y:auto;
        position:fixed;
        height: 100vh;
        width:100%;
        background:black;
        top:70px;
        left:-100%;
        text-align:center;
        transition:all .5s;
    }
    nav ul li{
        display:block;
    }
    nav ul li a.text{
        font-size:20px;
    }
    nav ul footer{
        float:none;
        margin-right:0;
    }
    a.text:hover,a.text:active{
        background:none;
        color:white;
    }
    #check:checked ~ ul{
        left:0;
    }
}
.errorpage{
    text-align:center;
    font-size:xx-large;
    margin-top:15%;
}