.header-nachhaltig{
    max-width: 66.66667rem;
    padding: 6.09524rem 0rem 1.52381rem 3.04762rem; 
}

.img-text-box-nachhaltigkeit{
    display: flex;
    height: 42.85714rem;
    min-width: 24.7619rem;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.text-nachhaltig-container{
    display: flex;
    height: 14.28571rem;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
}
.b-g-nachhaltig{
    background: #677E24;
}
.b-b-nachhaltig{
    background: #3B322D;
}
.text-nachhaltig-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
}

.img-box-nachhaltig{
    height: 28.57143rem;
    flex-shrink: 0;
    align-self: stretch;
}
@media (max-width:900px){
    .header-nachhaltig{
        padding: 1.52381rem 0rem 0.3809525rem 0.761905rem;
    }
}
@media (max-width:500px){
    .img-text-box-nachhaltigkeit{
        min-width:13.7142rem;
    }
}