.container-fluid{
    display:flex;
    flex-direction:column;
}
.img-full-screen{
    height:85vh;
}
#title{
    margin:1.5em;
    font-size:xx-large;
    text-align:center;
}
.row-2{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.column-2{
    margin:1em;
    padding:0.5em;
}
.flex{
    display:flex;
    align-items:center;
}
.up-3{
    position:relative;
    top:-0.35em;
}
.center{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.inline-block{
    display:inline-block;
}
.img-4{
    border:0.05em solid #91A3B0;
    transition: box-shadow 0.5s;
}
.img-4:hover{
    cursor:pointer;
    box-shadow:0.2em 0.2em rgb(33, 37, 41);
}
.width-5{
    width:5em;
    height:5em;
}
.underlined{
    border-bottom:#91A3B0 solid 0.05em;
}
.margin-2{
    margin:0.5em 0.5em 0.5em 0;
}
#pop-up-div{
    display: none;
    margin:0 auto;
    width: 80vw;
    padding:1em;
    background-color: whitesmoke;
    height: 80vh;
    z-index: 2;
    position:fixed;
    top:15vh;
    left:10vw;
    border:0.1em solid rgb(33, 37, 41);
    justify-content: center;
    align-items: center;
}
#pop-up-img{
    display: block;
    margin:0 auto;
}
#pop-up-close{
    position: absolute;
    top:0;
    right:0.5em;
    font-size:xx-large;
    cursor:pointer;
}
@media(max-width:500px) {
    .img-full-screen{
        height:50vh;
    }
}