.container-fluid{
    display:flex;
    flex-direction:column;
}
.img-full-screen{
    height:85vh;
}
#title{
    margin:1.5em;
    font-size:xx-large;
    text-align:center;
}
.row-2{
    display:flex;
}
.img-3{
    width:10%;
}
#img-big{
    display: block;
    margin:0 auto;
    width: 80vw;
    padding:1em;
    background-color: rgb(33, 37, 41);
    height: 80vh;
    z-index: 2;
    position: absolute;
    top:15%;
    left:10%;
}