.benefits{
    display: flex;
    padding: 1.52381rem 3.04762rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 3.04762rem;
    align-self: stretch;
    flex-wrap: wrap;
}
@media (max-width:900px){
    .benefits{
        padding:0.3809525rem 0.761905rem;
    }
}