.width{
    width:18rem;
}
.margin-bottom{
    margin-bottom:1em;
}
.product-link{
    text-decoration:none;
    color:rgb(33, 37, 41);
}
.card:hover{
    color:white;
    background-color:rgb(33, 37, 41);
}