.width{
    width:18rem;
}
*{
    font-family:"Quicksand";
}
.margin-bottom{
    margin-bottom:1em;
}
.product-link{
    text-decoration:none;
    color:rgb(33, 37, 41);
}
.card:hover{
    color:white;
    background-color:rgb(33, 37, 41);
}
.img-grid{
    margin:none;
}
@media(max-width:39em){
    .img-grid{
        display:block;
        margin:0 auto;
        width:18rem;
    }
}