{% extends "./part_templates/base.html" %}{% block title %}Change Product{% endblock %}

{% block head %} 
<link rel="stylesheet" href="{{url_for('static', filename = 'css/product.css')}}">
{% endblock head %}

{% block content %}
<div class="container">
    <form action="{{url_for('admin.change_product', id = product.id)}}" method = "POST" enctype="multipart/form-data"> <!--enctype required because of image which is uploaded-->
        <h3 class="text-center">Produkt Ändern</h3>
        <div class="mb-3 mt-3 row g-3">
            <div class="form-floating col-md-6">
                <input type="text" class="form-control" id="product-name" name="product-name" placeholder="Produktname Eingeben"value="{{product.name}}">
                <label for="product-name">Produktname Eingeben</label>
            </div>
            <div class="form-floating col-md-6">
                <input type="number" class="form-control" id="price" name="price" placeholder="Produktpreis Eingeben" value="{{product.price}}">
                <label for="price">Produktpreis Eingeben</label>
            </div>
            <div class="col-md-2">
                {% set img_number = 0 %}
                {% include "./part_templates/product_imgs.html" %}
            </div>
            <div class="col-md-2">
                {% set img_number = 1 %}
                {% include "./part_templates/product_imgs.html" %}
            </div>
            <div class="col-md-2">
                {% set img_number = 2 %}
                {% include "./part_templates/product_imgs.html" %}
            </div>
            <div class="col-md-2">
                {% set img_number = 3 %}
                {% include "./part_templates/product_imgs.html" %}
            </div>
            <div class="col-md-2">
                {% set img_number = 4 %}
                {% include "./part_templates/product_imgs.html" %}
            </div>
            <div class="form-floating col-md-6">
                <input type="number" class="form-control" id="stock" name="stock" placeholder="Lageranzahl Eingeben"value="{{product.stock}}">
                <label for="stock">Lageranzahl Eingeben</label>
            </div>
            <div class="form-floating col-md-6">
                <input type="text" class="form-control" id="stripe_price_id" name="stripe_price_id" placeholder="Stripe Price Id" value="{{product.stripe_price_id}}">
                <label for="stripe_price_id">Stripe Price Id</label>
            </div>
            <div class="form-floating col-12">
                <textarea name="description" id="description" class="form-control">{{product.description}}</textarea>
                <label for="description">Beschreibung</label>
            </div>
            <div class="col-12">
                <button type="submit" aria-label="Produkt Ändern" class="btn btn-primary">Produkt Ändern</button>
                <a class="btn btn-danger" href="{{url_for('admin.delete_product',id = product.id)}}">Delete</a>
            </div>
        </div>
    </form>
    </div>
{% endblock %}