{% extends "/part_templates/base.html" %} {% block title %}Über uns{% endblock %} 

{% block head %} 
<link rel="stylesheet" href="{{url_for('static', filename = 'css/about_us.css')}}">
{% endblock %}

{% block content %} 
<div class="container-fluid">
    <div class="container-lg d-flex flex-column align-items-center">
        <h1 class="m-5">Über uns</h1>
        <div class="d-flex flex-row justify-content-around b-color-white p-3 rounded-big blur-grey-l">
            <div class="w-100 d-flex flex-row align-items-center"><img class="rounded-big w-75" src="{{url_for('static', filename = 'Bilder/AboutUs/Werkstatt.jpg')}}" alt="Bild der 4 Gründer: Christoph, Jakob, Lukas, Simon"></div>
            <div class="font-xxl w-100 d-flex align-items-center">
                Wir sind Lukas, Simon, Christoph und Jakob und wir sind das Team hinter Firmenname.
            </div>
        </div>

        <div class="d-flex flex-row justify-content-around mt-5 blur-grey-l p-2 rounded-big color-inverse">
            <div class="w-100 font-xl p-3 ms-3 rounded-m d-flex align-items-center justify-content-center">In unserer Werkstatt in Altmannstein, nahe Ingolstadt fertigen
                wir jede E-Gitarre mit voller hingabe, mit dem Ziel ein makelloses Instrument zu kreiren.
                Dafür fräsen wir mit unserer selbstgebauten CNC-Fräse den Körper, Hals und Body der Gitarre.
                Diese haben wir zuvor mit 3D-Design erstellt und werden, nachdem sie ausgefräst sind, zu einer vollen,
                funktionsfähigen E-Gitarre gefertigt.
            </div>
            <div class="w-100 rounded-big p-2 d-flex flex-column align-items-center justify-content-evenly">
                <div class="mb-4 text-center p-1"><img class="rounded-m w-50" src="{{url_for('static', filename = 'Bilder/AboutUs/Werkstatt.jpg')}}" alt="Bild der Werkstatt"></div>
                <div class="text-center p-1"><video class="rounded-m w-50" controls src="{{url_for('static', filename='Videos/AboutUs/CNC-Zeitraffer.mp4')}}">Ihr Browser unterstützt das HTML Videoformat leider nicht</video></div>
            </div>
        </div>
        <h1 class="m-5"><b>Unsere Geschichte</b></h1>
        <div></div>
    </div>
</div>
{% endblock %}