{% extends "/part_templates/base.html" %} {% block title %}Über uns{% endblock %} 

{% block content %} 

<div class="flex-col-align-start-stretch gap-8">
    <div class="flex-col-align-start-stretch">
        <div class="expand justify-content-center align-items-center h-10 b-b10">
            <p class="h3-l c-b">Über uns</p>
        </div>
        <div class="expand justify-content-center flex-row-reverse align-items-start flex-wrap pad-2-4 gap-8 b-b5">
            <div class="flex-col-align-start-stretch flex-100 gap-2 max-50">
                <p class="h5-l c-b align-self-stretch">
                    Mit professionellen Werkzeugen und Knowhow 
                    helfen wir E-Gitarristen ihr eigenes Instrument zu bauen.
                </p>
                <div class="expand align-start min-1812 gap-0625">
                    <p class="flex-100 c-b p-l">
                        Wir sind das Team hinter Luke&Jakob. Als leidenschaftliche 
                        E-Gitarristen aus der Umgebung Ingolstadt haben Lukas und Jakob 
                        mehrere solche Instrumente bereits selbst angefertigt. Wir alle 
                        wissen, dass bei so einem Bau schnell die Tonqualität, das 
                        Aussehen und die Verarbeitung nicht so sind, wie sie gewünscht 
                        wird. Deswegen helfen wir Menschen ihren Traum zu verwirklichen, 
                        um ein großartiges Instrument in Händen halten zu können.
                    </p>
                </div>
            </div>
            <img class="b-img-about-us" src="{{url_for('static', filename = '/Bilder/Laptop/About/Gründer3.jpg')}}" alt="Bild der 3 Gründer vor der CNC-Fräse">
        </div>
    </div>
    <!-- Wie wir helfen -->
    <div class="expand flex-column pad-2-4 align-items-center gap-4">
        <p class="h4-l c-b align-self-stretch text-center">
            Wie wir anderen E-Gitarristen dabei helfen
        </p>
        <!-- Doppelbild -->
        <div class="flex-col-align-start-stretch container-laptop">
            <div class="flex-col-align-start-stretch pad-2-4 gap-2 text-box-vertical-border">
                <p class="h5-l c-b align-self-stretch">
                    Professionelles Werkzeug für besondere Kundenanforderungen
                </p>
                <div class="expand align-items-center justify-content-center gap-0625">
                    <p class="p-l flex-100 c-b">
                        Mit unserer selbstgebauten CNC-Fräse und unserem Spezialwerkzeug 
                        können wir auch die ausgefallensten Wünsche erfüllen.
                    </p>
                </div>
            </div>
            <div class="expand align-items-start align-content-start flex-wrap">
                <div class="b-img-cnc b-2-imgs border-left-corner-1"></div>
                <div class="b-img-werkstatt b-2-imgs border-right-corner-1"></div>
            </div>
        </div>
        <div class="flex-center-all flex-wrap flex-stretch gap-4-8">

            <div class="d-flex flex-column align-items-start flex-100 size-text-img-container container-tablet">
                <div class="flex-col-align-start-stretch gap-2 pad-2-4 text-box-vertical-border">
                    <p class="h5-l c-b align-self-stretch">
                        Professionelles Werkzeug für besondere Kundenanforderungen
                    </p>
                    <div class="flex-center-all gap-0625 align-self-stretch">
                        <p class="flex-100 c-b p-l">
                            Mit unserer selbstgebauten CNC-Fräse und unserem Spezialwerkzeug 
                        können wir auch die ausgefallensten Wünsche erfüllen.
                        </p>
                    </div>
                </div>
                <img class="br-0011 w-100" src="{{url_for('static', filename = '/Bilder/Laptop/About/CNC.jpg')}}" alt="">
            </div>


            <div class="d-flex flex-column align-items-start flex-100 size-text-img-container">
                <div class="flex-col-align-start-stretch gap-2 pad-2-4 text-box-vertical-border">
                    <p class="h5-l c-b align-self-stretch">
                        Erstklassige E-Gitarren
                    </p>
                    <div class="flex-center-all gap-0625 align-self-stretch">
                        <p class="flex-100 c-b p-l">
                            Unsere E-Gitarren sollen die Leidenschaft des Kunden entfesseln 
                            und deshalb erzeugen wir nur Spitzenresultate und geben uns nicht 
                            mit „in Ordnung“ zufrieden.
                        </p>
                    </div>
                </div>
                <img class="br-0011 w-100" src="{{url_for('static', filename = '/Bilder/Laptop/About/Gitarren-Kreuz.jpg')}}" alt="">
            </div>
            <!-- 3D-Model -->
            <div class="d-flex flex-column align-items-start flex-100 size-text-img-container">
                <div class="flex-col-align-start-stretch gap-2 pad-2-4 text-box-vertical-border">
                    <p class="h5-l c-b align-self-stretch">
                        Bereitstellen unserer Erfahrung
                    </p>
                    <div class="flex-center-all gap-0625 align-self-stretch">
                        <p class="flex-100 c-b p-l">
                            Wir teilen unser Wissen und unsere Erfahrung, um eine 
                            hochwertige E-Gitarre nach Wünschen zu bauen.
                        </p>
                    </div>
                </div>
                <img class="br-0011 w-100 aspect-165" src="{{url_for('static', filename = '/Bilder/Laptop/About/3D-Model.jpg')}}" alt="">
            </div>
        </div>
    </div>
{#
    <!-- Standort -->
    <div class="expand flex-column align-items-center pad-2-8 gap-4">
        <div class="flex-center-all">
            <p class="h4-l c-b">
                Unser Standort
            </p>
        </div>
        <!-- Google Maps -->
        <div class="h-10 b-b10 align-self-stretch"></div>
    </div>
</div>
#}

{% include "/part_templates/contactform.html" %}

{% endblock %}