{% extends "/part_templates/base.html" %} {% block title %}Über uns{% endblock %} 

{% block head %} 
<link rel="stylesheet" href="{{url_for('static', filename = 'css/about_us.css')}}">
{% endblock %}

{% block content %} 
<div class="container-fluid">
    <div class="container-lg d-flex flex-column align-items-center">
        <h1 class="m-5"><b>Über uns</b></h1>
        <div class="d-flex justify-content-around b-color-grey p-3 rounded horizontal-box">
            <div class="w-100"><img class="rounded w-75" src="{{url_for('static', filename = 'Bilder/AboutUs/Werkstatt.jpg')}}" alt="Bild der 4 Gründer: Christoph, Jakob, Lukas, Simon"></div>
            <div class="big-text w-100 d-flex align-items-center">
                Wir sind Lukas, Simon, Christoph und Jakob und wir sind das Team hinter Firmenname.
            </div>
        </div>

        <div class="d-flex justify-content-around mt-5 horziontal-box">
            <div class="w-100 big-text rounded inverse p-2 me-3">In unserer Werkstatt in Altmannstein, nahe Ingolstadt fertigen
                wir jede E-Gitarre mit voller hingabe, mit dem Ziel ein makelloses Instrument zu kreiren.
                Dafür fräsen wir mit unserer selbstgebauten CNC-Fräse den Körper, Hals und Body der Gitarre.
                Diese haben wir zuvor mit 3D-Design erstellt und werden, nachdem sie ausgefräst sind, zu einer vollen,
                funktionsfähigen E-Gitarre gefertigt.
            </div>
            <div class="w-100 rounded p-2 ms-3 d-flex flex-column align-items-center justify-content-evenly">
                <div class="mb-4 text-center p-1"><img class="rounded w-50" src="{{url_for('static', filename = 'Bilder/AboutUs/Werkstatt.jpg')}}" alt="Bild der Werkstatt"></div>
                <div class="text-center p-1"><video class="rounded w-50" controls src="{{url_for('static', filename='Videos/AboutUs/CNC-Zeitraffer.mp4')}}">Ihr Browser unterstützt das HTML Videoformat leider nicht</video></div>
            </div>
        </div>
        <h1 class="m-5"><b>Unsere Geschichte</b></h1>
        <div></div>
    </div>
</div>
{% endblock %}