{% extends "base.html" %} {% block title %}Admin Page {% endblock %} 

{% block content %} 

<div class="text-center h1">Admin Page</div>
<div class="container">
<h2>Users</h2>
<form action="POST">
    <table class="table table-hover table-primary table-striped">
    {% for our_user in our_users %} 
        <tr class="table-primary">
        <td>
        {{our_user.id}} - <a href="{{url_for('admin.change_user',id = our_user.id)}}">{{our_user.name}}</a> - {{our_user.email}} - {{our_user.role.name}}
        </td>
        </tr>
    {% endfor %}
    </table>
</form>
</div>
<br>
<div class="container">
    <h2>Products</h2>
    <h6><a href="/admin/add_product">Add Product</a></h6>
    <form action="POST">
        {% if products %}
        <table class="table table-hover table-primary table-striped">
            <tr class="table-primary">
                <td>Id</td>
                <td>Name</td>
                <td>Price</td>
                <td>Stock</td>
            </tr>
            {% for product in products %} 
            <tr class="table-primary">
                <td>{{product.id}}</td>
                <td>
                    <a href="{{url_for('admin.change_product',id = product.id)}}">{{product.name}}</a>
                </td>
                <td>{{product.price}}</td>
                <td>{{product.stock}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </form>
</div>
{% endblock %}