{% extends "base.html" %} 

{% block title %}Design Your Dream{% endblock %} 

{% block head %} 
<link rel="stylesheet" href="{{url_for('static', filename = 'css/design-your-dream.css')}}">
{% endblock %}

{% block content %} 

<h2>Wähle den Körper deiner Traumgitarre</h2>
<form method="POST">
    <div class="container">
        <div class="guitar-body">
            <input type="radio" id="gibson" name="guitar-body" value="gibson">
            <label for="gibson"><img src="https://m.media-amazon.com/images/I/91EPoyXWbQL.jpg" alt="Gibson Guitar Body"></label>
        </div>
        <div class="guitar-body">
            <input type="radio" id="fender" name="guitar-body" value="fender">
            <label for="fender"><img src="https://d1aeri3ty3izns.cloudfront.net/media/66/667085/600/preview.jpg" alt="Fender Guitar Body"></label>
        </div>
        <!-- <div class="guitar-body">
            <input type="radio" id="other" name="guitar-body" value="other">
            <label for="other"><img src="https://sc1.musik-produktiv.com/pic-010148008xxl/jackson-king-v-js32-bk-sw.jpg" alt="V-Guitar Body"></label>
        </div> -->
        <!-- <div class="guitar-body">
            <img src="" alt="">
        </div> -->
    </div>
    <br>
    <h2>Wähle deine Farbe aus</h2>
    <input class="centered" type="color" id="color-input" name="color" value="#000000">
    <br>
    <button type="submit" class="btn btn-primary centered">Einkaufen</button>
</form>


{% endblock %}