{% extends "./part_templates/base.html" %} 

{% block content %}
<div class="pad-1-2 b-b5">

<h1>Impressum</h1>

<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
<p>Lukas Osterrieder<br />
Luke&amp;Jakob Guitars<br />
Berghauser Str. 10<br />
93336 Altmannstein</p>

<h2>Kontakt</h2>
<p>Telefon: +49 (0) 151 56086992<br />
E-Mail: kontakt@lukeandjakob.com</p>

<h2>Berufsbezeichnung und berufsrechtliche Regelungen</h2>
<p>Berufsbezeichnung:<br />
Zupfinstrumentenmacher</p>
<p>Zust&auml;ndige Kammer:<br />
Handwerkskammer f&uuml;r M&uuml;nchen und Oberbayern<br />
Max-Joseph-Stra&szlig;e 4<br />
80333 M&uuml;nchen</p>
<p>Verliehen in:<br />
Bayern</p>
<h2>Angaben zur Berufs&shy;haftpflicht&shy;versicherung</h2>
<p><strong>Name und Sitz des Versicherers:</strong><br />
Rainer Banzer<br />
Bahnhofstr. 20<br />
93336 Altmannstein</p>
<p><strong>Geltungsraum der Versicherung:</strong><br />Deutschlandweit</p>

<h2>EU-Streitschlichtung</h2>
<p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

<h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
<p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

<p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>
</div>
{% endblock %}