{% extends "base.html" %} {% block title %}Luke & Jakob | {{product.name}}{% endblock %}

{% block head %} 
<link rel="stylesheet" href="{{url_for('static', filename = 'css/product.css')}}">
{% endblock head %}

{% block content %}
    <form action="" method="post">

        <div class="container-fluid">
            <img class="img-full-screen" src="{{url_for('static', filename = get_file_by_product_name(product.name,0) )}}" alt="Guitar image of model {{product.name}}">
            <div id="title">{{product.name}}</div>
            <div class="row-2">
                <div class="column-2">
                    <div class="row-2">
                        <img class="width-10 m-2 img-4" src="{{url_for('static',filename = get_file_by_product_name(product.name,1) )}}" alt="Image 1 of Guitar model called {{product.name}}">
                        <img class="width-10 m-2 img-4" src="{{url_for('static',filename = get_file_by_product_name(product.name,2) )}}" alt="Image 2 of Guitar model called {{product.name}}">
                    </div>
                    <div class="row-2">
                        <img class="width-10 m-2 img-4" src="{{url_for('static',filename = get_file_by_product_name(product.name,3) )}}" alt="Image 3 of Guitar model called {{product.name}}">
                        <img class="width-10 m-2 img-4" src="{{url_for('static',filename = get_file_by_product_name(product.name,1) )}}" alt="Image 4 of Guitar model called {{product.name}}">
                    </div>
                </div>
                <div class="column-2">
                    <div class="row-2"><h3>{{product.price}}</h3></div>
                </div>
            </div>
            <div class="row-2">
                <p>{{product.description}}</p>
            </div>
        </div>
        
    </form>

    <div id="pop-up-div">
        <img id="pop-up-img" src="" alt="Big image of Guitar model {{product.name}}">
        <span id="pop-up-close">&times;</span>
    </div>

{% endblock %}