{% extends "/part_templates/base.html" %} {% block title %}L&J Shop{% endblock %}

{% block head %} 
<link rel="stylesheet" href="{{url_for('static', filename = 'css/shop.css')}}">
{% endblock %}

{% block content %}
    <div class="container-md text-center">
        <h1>Our Products</h1>
        <br>

        {% if products %} 
        <div class="row row-cols-auto m-none">
        
            {% for product in products %}
            <div class="col">
            <a class="text-decoration-none dark-grey" href="{{url_for('views.product_site',product_name = product.name)}}">
            <div class="card w-18e margin-bottom">
                <img class="card-img-top" src="{{url_for('static', filename = get_file_by_product_name(product.name,0) )}}" alt="Product Image of Guitar named {{product.name}}">
                <div class="card-body">
                    <h3 class="card-title">{{product.name}}</h3>
                    <h4>{{product.price}}€</h4>
                    <!-- <h4>{{product.rating}}</h4> -->
                </div>
            </div> 
            </a>
            </div>
            {% endfor %}

        </div>

        {% endif %}
    </div>
{% endblock %}
