{% extends "/part_templates/base.html" %} {% block title %} Einkaufswagen {% endblock %}

{% block head %} 
<link rel="stylesheet" href="{{url_for('static',filename='css/shopping-cart.css')}}">
{% endblock %}

{% block content %} 
    <h1 class="text-center">Ihr Einkaufswagen</h1>
    {% if session["cart"] %}
        <form action="{{url_for('views.checkout')}}" method="POST"> 
            <div id="head-container" class="container-xxl row between big m-auto mt-3">
                <div class="column width-80">

                    {% for product_list in session["cart"] %}
                    {% set product = get_product_by_id(product_list[0]) %} 
                         
                        <div class="row d-flex border p-4 m-2 product-container">
                            <a class="max-300p min-80p" href="{{url_for('views.product_site',product_name = product.name)}}">
                                <img class="center-block width-80 max-300p min-80p product-img" src="{{url_for('static',filename=get_file_by_product_name(product.name,0) )}}" alt="Guitar Image from model called {{product.name}}">
                            </a>

                            <div class="w-fit-content">
                                <h3 class="center">{{product.name}}</h3>
                                <h3 class="center" id="product-price">{{product.price}}€</h3>
                            </div> 

                            <div class="dropdown w-120p m-2">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Menge: {{ product_list[1] }}
                                </button>
                                <ul class="dropdown-menu min-80p">
                                  <li><a class="dropdown-item" href="{{url_for('views.cart_quantity',product_id = product.id,quantity = 1)}}">1</a></li>
                                  <li><a class="dropdown-item" href="{{url_for('views.cart_quantity',product_id = product.id,quantity = 2)}}">2</a></li>
                                  <li><a class="dropdown-item" href="{{url_for('views.cart_quantity',product_id = product.id,quantity = 3)}}">3</a></li>
                                </ul>
                            </div> 

                            <a href="{{url_for('views.delete_cart_item',product_id = product.id)}}" class="width-16p">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    {% endfor %} 
                    
                </div>
                <div class="column width-20">
                    <h2>Gesamtpreis</h2>
                    <h4>{{get_total_price()}}€</h4>
                    <button class="btn btn-warning">Zur Kasse</button>
                </div>    
            </div>
        </form>
    {% else %} 
        <div class="container flex-center">
            <h3>Ihr Einkaufswagen ist zur Zeit leer</h3>
        </div>

    {% endif %} 

{% endblock %} 