<div class="faq-box">
    <div class="faq-heading">
        <div class="faq-icons">
            <div class="hidden">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="7" viewBox="0 0 28 7" fill="none">
                    <path d="M4 3.5H24" stroke="var(--primary)" stroke-width="6.66667" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="visible">
                <svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 3.5L14 23.5" stroke="var(--primary)" stroke-width="6.66667" stroke-linecap="round"/>
                    <path d="M4 13.5H24" stroke="var(--primary)" stroke-width="6.66667" stroke-linecap="round"/>
                </svg>
            </div>
        </div>
        <p class="h5-l c-b flex-100">
            {{question}}
        </p>
    </div>
    <div class="faq-text">
        <p class="p-l c-b flex-100">
            {{answer}}
        </p>
    </div>
</div>