<div class="expand flex-column align-items-center gap-4 b-w" id="faq">
    <div class="flex-center-all pad-1-2 gap-0625">
        <p class="h4-l c-b">FAQ</p>
    </div>
    <div class="flex-col-align-start-stretch pad-0-4">
                
        {% set question = "Wie viel kostet ein Reparaturservice?" %}
        {% set answer = "Das hängt von der jeweiligen Reparatur ab und ob Sie 
            noch Extrawünsche haben, die wir umsetzen sollen. 
            Nachdem Sie einen Antrag gestellt haben, können wir 
            Ihnen einen Kostenvoranschlag geben." 
        %}
        {% include "/part_templates/faq-question.html" %}


        {% set question = "Wie lange dauert es, bis meine E-Gitarre repariert ist?" %}
        {% set answer = "Das hängt vom jeweiligen Auftrag ab. Wir geben Ihnen eine Einschätzung in unserer Antwort auf Ihre Anfrage." %}
        {% include "/part_templates/faq-question.html" %}

        {% set question = "Wie viel kostet eine selbstgebaute E-Gitarre?" %}
        {% set answer = "Das hängt von ihren Spezifikationen, 
        wie Farbe, Body-Form und Ausstattung der verbauten Hardware ab. 
        Wir befinden uns zwischen 2500€-3500€." %}
        {% include "/part_templates/faq-question.html" %}

        {% set question = "Wie lange dauert es eine solche E-Gitarre zu bauen?" %}
        {% set answer = "Im Normalfall 7 Wochen." %}
        {% include "/part_templates/faq-question.html" %}

        {% set question = "Was ist, wenn mir die E-Gitarre nicht gefällt?" %}
        {% set answer = "Da wir die Gitarre nach Ihren Kriterien bauen, versuchen wir diese bestmöglich umzusetzen. Falls 
        Änderungen gewünscht werden, wollen wir diese miteinbringen. Dadurch kann aufgrund des größeren Aufwands ein Aufpreis entstehen, 
        über den wir Sie im Voraus informieren. Sollte die Gitarre Ihnen trotzdem nicht gefallen, geben wir Ihnen, aufgrund unserer 
        Geld-Zurück-Garantie, ihr Geld selbstverständlich im Tausch gegen die E-Gitarre zurück." %}
        {% include "/part_templates/faq-question.html" %}

        {% set question = "Wie viel kosten Umgestaltungen an einer existierenden E-Gitarre?" %}
        {% set answer = "Das hängt von den jeweiligen Umgestaltungen und der Arbeitszeit ab." %}
        {% include "/part_templates/faq-question.html" %}

        {% set question = "Ich bestelle meine Traumgitarre, möchte jetzt aber doch noch Änderungen, ist dies möglich?" %}
        {% set answer = "Es kommt darauf an, was dies für Änderungen sind. Das wird individuell für den Auftrag bestimmt. 
        Wir geben natürlich unser Bestes Ihre E-Gitarre nach Ihren Wünschen zu gestallten. Dafür bitten wir Sie Änderungen spätestens 
        1 Woche nach Auftragsvergabe bekannt zu geben." %}
        {% include "/part_templates/faq-question.html" %}

    </div>
</div>