<footer class="mt-5 footer">
    <div class="d-flex justify-content-around">
        <div class="d-flex flex-column align-items-left ms-3 me-3">
            <h3 class="mb-3">Kontakt</h3>
            <p>GBR <br> 
                Berghauserstraße 10 <br>
                93336 Altmannstein
            </p>
            <p>
                Email:----------------------- <br>
                Telefon: --------------------- <br>
            </p>
        </div>
        <div class="d-flex flex-column align-items-left ms-3 me-3">
            <h3 class="mb-3">Rechtliches</h3>
            <a href="">Impressum</a>
            <a href="">Allgemeine Geschäftsbedingungen</a>
            <a href="">Datenschutzerklärung</a>
            <a href="">Widerrufsbelehrung</a>
        </div>
        <div class="d-flex flex-column align-items-left ms-3 me-3">
            <h3 class="mb-3">Hilfe und Support</h3>
            <a href="#">Kontakt</a>
            <a href="">Rückgabe/Retouren</a>
            <a href="">Versandinformationen</a>
        </div>
    </div>
    <div>
        <ul class="d-flex justify-content-center ul-dots-invisible">
            <li class="m-2"><a class="link-normal p-2 rounded" href=""><i class="bi bi-youtube"></i></a></li>
            <li class="m-2"><a class="link-normal p-2 rounded" href=""><i class="bi bi-tiktok"></i></a></li>
            <li class="m-2"><a class="link-normal p-2 rounded" href=""><i class="bi bi-instagram"></i></a></li>
        </ul>
    </div>
</footer>