<footer class="p-5 b-grey-d">
    <div class="d-flex justify-content-around text-center">
        <div class="d-flex flex-column align-items-start text-start">
            <h3 class="mb-3">Kontakt</h3>
            <p>Luke&Jakob Guitars GBR<br>
                inh. Osterrieder, Schneider, Schweiger, Wurzenberger<br><br>
                Berghauserstraße 10 <br>
                93336 Altmannstein
            </p>
            <p>
                Email:----------------------- <br>
                Telefon: --------------------- <br>
            </p>
        </div>
        <div class="d-flex flex-column align-items-start text-start">
            <h3 class="mb-3">Rechtliches</h3>
            <a href="">Impressum</a>
            <a href="">Allgemeine Geschäftsbedingungen<br>(AGB)</a>
            <a href="">Datenschutzerklärung</a>
            <a href="">Widerrufsbelehrung</a>
        </div>
        <div class="d-flex flex-column align-items-start text-start">
            <h3 class="mb-3">Hilfe und Support</h3>
            <a href="#">Kontakt</a>
            <a href="">Rückgabe/Retouren</a>
            <a href="">Versandinformationen</a>
        </div>
    </div>
    <div>
        <div class="d-flex justify-content-center li-dots-invisible pos-rel">
            <li class="m-2"><a class="text-decoration-none b-grey-color-black p-2 rounded" href=""><i class="bi bi-youtube"></i></a></li>
            <li class="m-2"><a class="text-decoration-none b-grey-color-black p-2 rounded" href=""><i class="bi bi-tiktok"></i></a></li>
            <li class="m-2"><a class="text-decoration-none b-grey-color-black p-2 rounded" href=""><i class="bi bi-instagram"></i></a></li>
        </div>
    </div>
</footer>