<div class="nav-bar" id="navbar">
    <div class="group-logo">
        <a href="{{url_for('views.Home')}}" class="nav-logo"></a>
        <div class="group-links-CTA">
            <div class="group-links"  id="group-links">
                {% for link_name in links %}
                    {% if link_name == active %}
                    <div class="link-nav ">
                        <a class="h6-l link-active" href="{{url_for('views.{}'.format(link_name) )}}">{{link_name}}</a>
                    </div>
                    {% else %}
                    <div class="link-nav">
                        <a class="h6-l c-b" href="{{url_for('views.{}'.format(link_name) )}}">{{link_name}}</a>
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="link-nav mobile">
                    <a class="h6-l c-b" href="{{url_for('views.Kontakt')}}#faq">FAQ</a>
                </div>
            </div>
            {% if "Kontakt" == active %}
            <a href="{{url_for('views.Kontakt')}}" class="cta-btn-l cta-active h6-l">
                Kontakt
            </a>
            {% else %}
            <a href="{{url_for('views.Kontakt')}}" class="cta-btn-l h6-l">
                Kontakt
            </a>
            {% endif %}
            <a href="javascript:void(0);" id="menu-icon">
                <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.67969 32H56.3197" stroke="black" stroke-width="3"/>
                    <path d="M7.67969 15.97H56.3197" stroke="black" stroke-width="3"/>
                    <path d="M7.67969 48.03H56.3197" stroke="black" stroke-width="3"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="line"></div>
</div>