<div class="nav-bar">
    <div class="group-logo">
        <a href="{{url_for('views.Home')}}" class="nav-logo"></a>
        <div class="group-links-CTA">
            <div class="group-links">
                {% for link_name in links %}
                    {% if link_name == active %}
                    <div class="link-nav ">
                        <a class="h6-l link-active" href="{{url_for('views.{}'.format(link_name) )}}">{{link_name}}</a>
                    </div>
                    {% else %}
                    <div class="link-nav">
                        <a class="h6-l c-b" href="{{url_for('views.{}'.format(link_name) )}}">{{link_name}}</a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if "Kontakt" == active %}
            <a href="{{url_for('views.Kontakt')}}" class="cta-btn-l cta-active h6-l">
                Kontakt
            </a>
            {% else %}
            <a href="{{url_for('views.Kontakt')}}" class="cta-btn-l h6-l">
                Kontakt
            </a>
            {% endif %}
        </div>
    </div>
    <div class="line"></div>
</div>