

<div class="flex-center-all max-7075 w-100 h-3662 img-text-container-left">
    <div class="text-box-left-l text-box-horizontal justify-content-center">
        <div class="expand align-items-start gap-0625">
            <p class="h5-l c-b">{{service_title}}</p>
        </div>
        <p class="p-l c-b align-self-stretch">
            {{service_text}}
        </p>
        <div class="expand align-items-center gap-1">
            <p class="c-p p-l">Preisrange:</p>
            <p class="c-b p-l">{{service_price}}</p>
        </div>
    </div>
    <img class="img-right-l" src="{{url_for('static', filename = '/Bilder/Laptop/Service/' + img_name)}}" alt="Bild {{service_title}}">
</div>