

<div class="flex-center-all w-100 max-7075 h-3662">
    <div class="img-left-l {{img_class}}"></div>
    <div class="text-box-right-l expand flex-column justify-content-center align-items-center pad-2-4 gap-2 flex-100">
        <div class="expand align-items-start gap-0625">
            <p class="h5-l c-b">{{service_title}}</p>
        </div>
        <p class="p-l c-b align-self-stretch">
            {{service_text}}
        </p>
        <div class="expand align-items-center gap-1">
            <p class="c-p p-l">Preisrange:</p>
            <p class="c-b p-l">{{service_price}}</p>
        </div>
    </div>
</div>